.App {
  text-align: center;
}

.BgWaves{
  position: relative;
  min-height: 90vh;
  background-image: url("./assets/landing_waves.png");

  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#ff9480;

}

.featureBox{
  margin:50px;
  width: 70%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 4px 0.5px grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1.3em 1em;
  float: center;
  
}

.featureBox1{
  margin:50px;
  width: 27%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 4px 0.5px grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  float: center;
  background-color: white;
}


.listingsMap{
  width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 4px 0.5px grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  float: center;
  background-color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
